body {
    font-family: Balboa, poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    /* margin-top: 10px; */
}

.home {
    background-color: orange;
    /* height: 900px; */
}

.poppins-title {
    font-family: Poppins;
    font-size: 3vw;
    padding-left: 50px;
}

.poppins-subtitle {
    font-family: Poppins;
    font-size: 1.5vw;
    padding-left: 50px;
}

li.option {
    padding-left: 20px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.home-image {
    margin-right: -15px;
    padding: 50px 0 100px 0;
    max-height: 500px;
    width: 100%;
}

.slide {
    position: relative;
    display: inline-block;
    border-top: 5px solid burlywood;
}

.slide .title-left {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 3vw;
    bottom: 30%;
    left: 10%;
    right: 0;
}

.slide .subtitle-left {
    color: white;
    text-align: left;
    font-size: 1.2vw;
    position: absolute;
    bottom: 15%;
    left: 10%;
    right: 0;
}

.slide .title-right {
    color: white;
    text-align: right;
    position: absolute;
    font-size: 3vw;
    bottom: 30%;
    left: 0;
    right: 10%;
}

.slide .subtitle-right {
    color: white;
    text-align: right;
    font-size: 1.2vw;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 10%;
}

.client-title {
    padding: 20px 0;
    font-size: 3vw;

}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

.who {
    background-color: #212529;
    padding-top: 20px;
}

.who-title {
    padding: 20px 0;
    color: white;
    font-size: 3vw;
}

.card.who {
    background-color: #314148;
}

.card-body h4.card-title {
    color: orange;
}