* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: PoppinsRegular;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: BalboaExtraBlack;
    src: url('../fonts/FontsFree-Net-Balboa-W00-ExtraBlack.ttf');
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding-right: 0 !important;
    padding-left: 0 !important;
    /* margin-left: 0 !important; */
    /* margin-right: 0 !important; */
}

.logo {
    background: transparent url('../images/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navbar-color {
    background-color: #171717;
}

.navbar-item {
    font: Bold var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: Bold Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.boutique-title-first-word {
    font-family: BalboaExtraBlack;
    text-align: center;
    color: #FF8F00;
    font-size: 5vw;
    text-transform: capitalize;
    opacity: 0.4;
    /* borders */
    -webkit-text-stroke: 1px black;
    /* 1 pixel black shadow to left, top, right and bottom */
    /* text-shadow: -2px 0 black,
        0 2px black,
        2px 0 black,
        0 -2px black; */
}

.boutique-title-sencond-word {
    font-family: BalboaExtraBlack;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 5vw;
    text-transform: capitalize;
    opacity: 1;
}


.home {
    /* background-color: orange; */
    background: url('../images/home-naranja-degrade.jpg');
}

.poppins-title {
    font-family: Poppins;
    letter-spacing: -1px;
    text-transform: capitalize;
    opacity: 1;
    font-size: 4vw;
}

.poppins-subtitle {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-171717);
    font-family: Poppins;
    font-size: 1.5vw;
    letter-spacing: 0px;
    color: #171717;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

li.option {
    padding-left: 20px;
}

div.row {
    margin-left: auto;
    margin-right: auto;
}

.home-image {
    margin-right: -15px;
    padding: 50px 0 100px 0;
    max-height: 674px;
    width: 100%;
}

.slide {
    position: relative;
    display: inline-block;
    border-top: 5px solid burlywood;
    max-height: 650px;
}

.with-fill {
    font-family: BalboaExtraBlack;
    opacity: 1;
}

.color-white {
    color: #FFFFFF;
}

.color-orange {
    color: #FF8F00;
}

.without-fill {
    font-family: BalboaExtraBlack;
    text-shadow: transparent;
    opacity: 0.3;
}

.border-white {
    -webkit-text-stroke: 1px #FFFFFF;
}

.border-orange {
    -webkit-text-stroke: 1px #FF8F00;
}

.slide .title-left {
    text-align: left;
    position: absolute;
    font-size: 3vw;
    bottom: 30%;
    left: 10%;
    right: 0;
}

.slide .subtitle-left {
    color: white;
    text-align: left;
    font-size: 1.5vw;
    position: absolute;
    bottom: 15%;
    left: 10%;
    right: 0;
}

.slide .title-right {
    text-align: right;
    position: absolute;
    font-size: 3vw;
    bottom: 30%;
    left: 0;
    right: 10%;
}

.slide .subtitle-right {
    color: white;
    text-align: right;
    font-size: 1.5vw;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 10%;
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

.destacados {
    padding: 30px 0 40px 0;
    background-color: #FF8F00;
}

.destacados-title {
    padding-top: 20px;
    font-size: 3vw;
}

.destacados .descargar {
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    font-family: BalboaExtraBlack;
    border-radius: 30px;
    opacity: 1;
    font-size: 1.4vw;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

.destacados a:hover {
    text-decoration: none;
}

.clients {
    margin: 30px 0 40px 0;
}

.client-title {
    padding-top: 10px;
    font-size: 3vw;
    font-family: BalboaExtraBlack;
}

.who {
    background-color: #171717;
    padding-top: 20px;
    padding-bottom: 50px;
}

.who-title {
    padding: 10px 0;
    /* color: #FF8F00; */
    font-size: 4vw;
    font-family: BalboaExtraBlack;
    opacity: 1;
}

.card.who {
    background-color: #323232;
}

.card-body h4.card-title {
    color: #FF8F00;
    font-family: PoppinsBold;
    font-size: 2vw;
}

.card-body h6.card-subtitle {
    font-family: PoppinsRegular;
    font-weight: bold;
    font-size: 1.3vw;
}

p.bio-text {
    /* font-family: Regular Poppins; */
    font-family: PoppinsRegular;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: normal;
}

.contact {
    position: relative;
    display: inline-block;
    border-top: 5px solid black;
}

.contact div.first-column {
    position: absolute;
    top: 17%;
    left: 6%;
}

.contact div.second-column {
    position: absolute;
    top: 20%;
    left: 55%;
}

.contact div.first-column p.title-left {
    color: white;
    text-align: left;
    font-size: 2.5vw;
    font-family: PoppinsRegular;
}

.contact div.first-column p.subtitle-left {
    color: white;
    font-family: PoppinsRegular;
    font-weight: normal;
    text-align: left;
    font-size: 1.4vw;
    padding-top: 2%;

}

.contact button[type="submit"] {
    background-color: #FF8F00;
    font-family: PoppinsBold;
}

textarea:required:invalid,
textarea:focus:invalid,
input:required:invalid,
input:focus:invalid {
    background-image: url('../images/contact/invalid.png');
    background-position: right top;
    background-repeat: no-repeat;
}

textarea:required:valid,
textarea:focus:valid,
input:required:valid {
    background-image: url('../images/contact/valid.png');
    background-position: right top;
    background-repeat: no-repeat;
}

.footer {
    background: var(--unnamed-color-171717) 0% 0% no-repeat padding-box;
    background: #171717 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border: 1px solid #707070;
    opacity: 1;
}

.footer .logo {
    padding-left: 30px;
}

.footer .link {
    /* font: Regular var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-poppins); */
    /* letter-spacing: var(--unnamed-character-spacing-0); */
    /* color: var(--unnamed-color-ffffff); */
    text-align: left;
    font: PoppinsRegular;
    letter-spacing: 0px;
    font-weight: normal;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.footer li>a.link {
    padding-bottom: 25px;
}

.footer a:hover {
    text-decoration: none;
}